#img{
    display:none;
}
/* this hides the image completely */

p{
    display: block;
}
button{
    display:inline-block;
    margin: 30px;
    padding:20px;
}
h1{
    display:inline;
    color: blueviolet;
}