body {
  background-color: lightgrey;
  color: blue;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: ;
  background-color: black;
  color: white;
  text-decoration: underline;
}
p {
  background-color: blue;
  color: white;
  text-align: rigth;
  text-decoration: line-through;
  font-weight: bolder;
}
ul {
  background-color: yellow;
  color: Black;
  text-align: justify;
  text-decoration: overline underline;
  font-weight: bold;
  width: 50%;
}
